<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration WOO!!!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/user/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheets %}
    {% block javascript %}
        {% javascripts '@UserBundle/Resources/public/js/*'
        'bundles/user/js/jquery-1.8.3.min.js'
        'bundles/user/js/jquery-ui.min.js'
        'bundles/user/js/jquery-1.9.1.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    {% endblock javascript %}
    <script>

    </script>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/user/img/Setting-icon.png') }}" />
</head>

<body class="size-1140">
<!-- TOP NAV WITH LOGO -->
<header>
    <nav>
        <div class="line">
            <div class="s-12 l-4">
                <img class="s-12 l-12  logo" src={{ asset('bundles/user/img/adminlogo.png') }}>
            </div>
            <div class="top-nav l-8 s-12">

            </div>
        </div>
    </nav>
</header>
<!-- ASIDE NAV AND CONTENT -->
<div class="line">
    <div class="box  margin-bottom">
        <div class="margin">
            <!-- ASIDE NAV 1 -->

            <!-- CONTENT -->
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer class="box">
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright 2017, Vision Design - graphic zoo</p>
        </div>
        <div class="s-12 l-6">
            <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
        </div>
    </div>
</footer>
{#<script type="text/javascript" src="js/responsee.js"></script>#}


{% block javascripts %}
    {% javascripts
    'bundles/user/js/responsee.js'
    'bundles/user/js/bootstrap.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>

