{% extends "base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/configuration/js/main.js') }}"></script>
{% endblock %}
{% block aside %}
    {% include '@Configuration/Homepage/aside.html.twig' %}
{% endblock %}
{% block body %}
    <div class="text-center bg-info l-offset-2 l-5 margin-bottom">
        <h3 class="cl-olivie shadows box-shadows">Check Configuration Database.</h3>
    </div>
    <div class="l-8">
        <div class="line">
        {% if not configs.config %}
            <div class="bg-info margin-bottom">
                <p>To run the application you need to set the parameters to the database
                    located in the directory <strong> path/to/admin/app/config/parameters.yml.</strong>
                    Set the following values:</p>
            </div>
            <div class=" l-4 center">
                    {% for config in configs %}
                        {% if config %}
                <div class="bg-danger  text-center">{{ config }}<br></div>
                        {% endif %}
                    {% endfor %}
            </div>
        {% endif %}
            {% if configs.config %}
                <div class="bg-info text-center l-offset-1">
                    <p>Your database has settings for the connection. If you agree with them go the next step by clicking "Next"</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="l-12 ">

        <a href="{{ path('configuration_admin') }}" class="button rounded-btn right{% if not configs.config %} disabled {% endif %} " >Next </a>
        <a href="{{ path('welcome') }}" class="button rounded-btn right margin-button">Previust</a>
    </div>
{% endblock %}