{% extends "base.html.twig" %}
{% block body %}
    <div class="l-12">
        <div class="line text-center">
            <h3>Create new User</h3>

            {{ form_start( form ) }}

            <table class="table-responsive margin-bottom l-6">
                <tbody>
                {{ form_start( form ) }}
                <tr>
                    <th>{{ form_label( form.name ) }}</th>
                    <td>{{ form_widget( form.name ) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label( form.surname ) }}</th>
                    <td>{{ form_widget( form.surname ) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label( form.status ) }}</th>
                    <td>{{ form_widget( form.status ) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label( form.born ) }}</th>
                    <td>{{ form_widget( form.born ) }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table-responsive margin-bottom l-6">
                <tbody>
                <tr>
                    <th>{{ form_label( form.email ) }}</th>
                    <td>{{ form_widget( form.email ) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label( form.country ) }}</th>
                    <td>{{ form_widget( form.country ) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label( form.city ) }}</th>
                    <td>{{ form_widget( form.city ) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label( form.gender ) }}</th>
                    <td>{{ form_widget( form.gender ) }}</td>
                </tr>
                </tbody>
            </table>
            <div class="l-12 text-center ">
                <input type="submit" class="btn btn-success right  " value="Create">
                <a href="{{ path('user_homepage') }}" class="btn btn-info right ">Home</a>
            </div>

        </div>
    </div>


        {{ form_end( form ) }}


{% endblock %}