{% extends "base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/configuration/js/main.js') }}"></script>
{% endblock %}
{% block aside %}
    {% include '@Configuration/Homepage/aside.html.twig' %}
{% endblock %}
{% block body %}
    <div class="text-center bg-info l-offset-2 l-5 margin-bottom">
        <h3 class="cl-olivie shadows box-shadows">Create Admin.</h3>
    </div>
    {{ form_start( form ) }}
    <div class="l-9 padding-ob">
        <div class="line text-center margin-bottom">
            <div class="left s-12 l-6 ">
                <table >
                    <tbody>
                        <tr>
                            <th>{{ form_label( form.username ) }}</th>
                            <td>{{ form_widget( form.username ) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label( form.name ) }}</th>
                            <td>{{ form_widget( form.name ) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label( form.surname ) }}</th>
                            <td>{{ form_widget( form.surname ) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label( form.birthday) }}</th>
                            <td>{{ form_widget( form.birthday ) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="s-12 l-6 right margin-bottom">
                <table>
                    <tbody>
                        <tr>
                            <th>{{ form_label( form.plainPassword.first ) }}</th>
                            <td>{{ form_widget( form.plainPassword.first ) }}</td>
                        </tr>
                        <tr>

                            <th>{{ form_label( form.plainPassword.second ) }}</th>
                            <td>{{ form_widget( form.plainPassword.second ) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label( form.email ) }}</th>
                            <td>{{ form_widget( form.email ) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label( form.gender) }}</th>
                            <td>{{ form_widget( form.gender ) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="l-12 ">
            <input type="submit" class="btn btn-success right  navbar-inverse" value="Next">
            <a href="{{ path('configuration_database') }}" class="btn btn-warning right  navbar-inverse">Previust</a>
        </div>
    </div>
    {{ form_end( form ) }}
{% endblock %}