{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h3 class="text-center">Show user: "{{ user.name }} {{ user.surname }}"</h3>
        <table class="table-responsive">
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Birthday</th>
            <th>Password</th>
            <th>Enabled</th>
            </thead>
            <tbody>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.birthday }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.enabled }}</td>
            </tbody>
        </table>
        <table class="table-responsive margin-bottom">
            <thead>
            <th>Email</th>
            <th>Password</th>
            </thead>
            <tbody>
            <td class="width-email">{{ user.email }}</td>

            <td>{{ user.username }}</td>

            </tbody>
        </table>
        <a class="left btn btn-info" href="{{ path( 'show_all_users' ) }}">Show Users</a>
        <a class="right btn btn-info" href="{{ path( 'edit_user', { "token" : user.token }) }}">Edit</a>
    </div>
{% endblock body %}