{% extends 'base.html.twig' %}
{% block body %}
    <h3 class="text-center">Edit user</h3>
    <table class="table-responsive margin-bottom l-6">
        <tbody>
        {{ form_start( edit_form ) }}
        <tr>
            <th>{{ form_label( edit_form.name ) }}</th>
            <td>{{ form_widget( edit_form.name ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.surname ) }}</th>
            <td>{{ form_widget( edit_form.surname ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.status ) }}</th>
            <td>{{ form_widget( edit_form.status ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.born ) }}</th>
            <td>{{ form_widget( edit_form.born ) }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table-responsive margin-bottom l-6">
        <tbody>
        <tr>
            <th>{{ form_label( edit_form.email ) }}</th>
            <td>{{ form_widget( edit_form.email ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.country ) }}</th>
            <td>{{ form_widget( edit_form.country ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.city ) }}</th>
            <td>{{ form_widget( edit_form.city ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.gender ) }}</th>
            <td>{{ form_widget( edit_form.gender ) }}</td>
        </tr>
        <tr>
            <th>{{ form_label( edit_form.profession ) }}</th>
            <td>{{ form_widget( edit_form.profession ) }}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <input type="submit" href="{{ path( 'update_user', { "token" : token}) }}" class="button rounded-btn reload-btn" value="Update">
        {{ form_end( edit_form ) }}
        <a href="{{ path( 'delete_user', { 'token' : token } ) }}" class="button rounded-btn cancel-btn">Delete</a>
        <a href="{{ path( 'show_user', { "token" : token }) }}" class="button rounded-btn submit-btn">Cancel</a>
    </div>

{% endblock body %}